<?xml version='1.0' encoding="utf-8" ?>
<mapper>
	<datasource>
		<option name="first">
			<property name="acquireIncrement">5</property>
    		<property name="initialPoolSize">15</property>
    		<property name="minPoolSize">15</property>
    		<property name="maxPoolSize">60</property>
    		<property name="maxStatements">10</property>
    		<property name="maxStatementsPerConnection">5</property>
		</option>
	</datasource>

	<annotation sql="true"> <!--这表示sql使用注解配置-->
		<entity>
			<value>com/lwy/myselect/entity</value>
		</entity>
	</annotation>

	<!--这表示sql使用xml配置-->
	<!--<sql>
		<value>com/lwy/myselect/sql</value>
	</sql>-->

	<!--<resource type="com.lwy.myselect.entity.Entity" alias="entity" location="com/lwy/myselect/entity/Entity.xml"/>-->
</mapper>